@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #ffffff;
    color: #363636;
    font-family: 'Poppins', sans-serif;
}

/* 日本語フォントの設定 */
:lang(ja) {
    font-family: 'Noto Sans', sans-serif;
}

/* ナビゲーションバー */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 5px solid #e5e5e5;
    box-sizing: border-box;
  }
  
  .navbar-logo {
    padding: 10px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
    color:#FFD037;
  }
  

#page-title{
    margin-top: 0px;
    margin-bottom: 5px;
}

#page-subtitle{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* ← 左揃えにするポイント */
    gap: 5px; /* テキストボックスとプルダウンの間に少しスペース */
}

#page-subtitle input,
#page-subtitle select {
  width: 300px;   /* 好きな幅に調整可能 */
  font-size: 14px;
  padding: 6px;
}

.your_age{
    margin-left: 20px; /* Reduce margin */
}

.self-introduce {
    margin-bottom: 20px; /* Adjust spacing */
}

.chart-container {
    position: relative;
    width: 95%;
    height: 500px; /* 増やした */
    margin: 0 auto; /* 中央寄せ */
    margin-top: 20px;
 
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-group {
    padding-top: 10px; /* 小さく */
    display: flex;
    gap: 10px;
}

.button-container input[type="button"] {
    margin-left: 10px;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #020202;
    padding: 8px;
    text-align: center;
    background-color: #ffffff;
}

/* テーブル内のセルの文字を折り返す設定 */
table th, table td {
    padding: 7px;
    font-size: 14px;
    word-wrap: break-word; /* 文字の途中で折り返し */
    word-break: break-all; /* 単語の途中でも折り返し */
    max-width: 150px; /* 必要に応じてセルの最大幅を設定 */
    overflow: hidden; /* セルからはみ出す部分を隠す */
}

/* 各セル幅変更 */

table th.age{
    width : 50px;
}

table th.title{
    width : 600px;
}

table th.motivation{
    width : 30px;
}



.first-td{
    border-bottom-left-radius: 10px;
 }

#last-td{
   border-bottom-right-radius: 10px;
}

th {
    color: #ffffff;
    background-color: #00da8f;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

thead th {
    border-top: none;
}


#content {
    width: 100%;
    max-width: 1200px;
    margin-top: 0px;
    padding-top: 80px;
    background-color: rgb(255, 255, 255);
}

input[type="button"],.detail-button {
    background-color: #FFD037;
    color: #363636;
    border: none;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}
.detail-cell{
    width: 10%;
}

#downloadButton {
    background-color: #f96767;
    color: #010101;
}

#downloadButton2 {
    background-color: #04ff2e;
    color: #010101;
}


#downloadButton:hover {
    opacity: 0.5;
}

input[type="button"]:hover,.detail-button:hover,img:hover {
    opacity: 0.5;
}


footer {
    padding-top: 85px; 
}

.introduce{
    margin-top: 0px;
    margin-right: 20px;
}
